fieldset { margin: 0; padding: 12px; border: none; border-bottom: 1px solid #ddd;
  &:first-child { border-top: none; }
  .optional { float: right; margin-top: 6px; }
}

.form-sub {
  > header { position: relative; text-align: center; background: #ddd; padding: 12px 0; font-weight: bold;
    &:after { width: 0; height: 0; border-right: 6px solid transparent; border-left: 6px solid transparent; border-top: 6px solid #ddd; content: ''; position: absolute; display: block; bottom: -6px; left: 50%; margin-left: -4px; }
  }
  > fieldset,
  > div > fieldset { border-bottom-style: dashed;
    &:last-child { border-bottom-style: solid; }
  }
  label { text-align: center; }
}

label { font-size: 16px; font-weight: bold; margin-bottom: 6px; display: block; }
select { width: 100%; height: 34px; line-height: 34px; font-size: 16px; border: 1px solid #ddd; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); background-color: #fff; color: #363d40; outline: none; }
input[type="text"],
input[type="number"] { width: 100%; height: 34px; line-height: 34px; font-size: 16px; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); background-color: #fff; color: #363d40; outline: none; box-sizing: border-box; padding: 0 8px; }
button { @include button; }
input[type="checkbox"] { margin: 0 6px 0 0; }
.slider { padding: 0 6px 18px 6px;
  .rc-slider-handle { border-color: #5DA5DA; }
}