body { margin: 0; font-family: 'Roboto'; color: #363d40; max-width: 100%; overflow-x: hidden; }

.left { float: left; }
.right { float: right; }

a.iconized { color: #000;
  &:hover { transform: scale(1.2); }
}